<!-- Remember to update this file for your charm -- replace <charm-name> with the appropriate name,
follow the release notes policy in the title, and fill in the relevant details. -->

# {{ charm_name }} release notes – {{ release_condition }}

These release notes cover new features and changes in {{ charm_name }} for <release condition here>.

<!--
Add an introduction summarizing the most significant features and impactful changes
outlined in this file. Organize this content in bulleted lists of "Main features"
and "Main bug fixes", using past tense to describe each of the items
(for instance, "Added support for X relation").
-->

Main features:
{% for feat in changes -%}
{%- if feat.highlight == true and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) and (feat.type == "major" or feat.type == "minor") -%}
* {{ feat.title }}.
{% endif -%}
{% endfor %}

Main bug fixes:
{% for feat in changes -%}
{%- if feat.highlight == true and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) and feat.type == "bugfix" -%}
* {{ feat.title }}.
{% endif -%}
{% endfor %}

See our [Release policy and schedule](docs/release-notes/landing-page.md).

## Requirements and compatibility

<!--
Specify the workload version; link to the workload's release notes if available.

Add information about the requirements for this charm in the table
below, for instance, a minimum Juju version. 

If the user will need any specific upgrade instructions for this
release, include those instructions here.

-->

The charm operates <workload name with version>.

The table below shows the required or supported versions of the software necessary to operate the charm.

| Software                | Required version |
|-------------------------|------------------|
| Juju                    | XXXX             |
| Terraform               | XXXX             |
| Terraform Juju provider | XXXX             |
| Ubuntu                  | XXXX             |
| XXXX                    | XXXX             |

## Updates
<!--
Use this section to highlight major and minor features that were added in this release.
The subsection below shows the pattern for each feature. Include links to the relevant PR or commit.
-->

The following major and minor features were added in this release.

{% for feat in changes %}
{%- if (feat.type == "major" or feat.type == "minor") and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) -%}

### {{ feat.title }}
{{ feat.description }}
<Add more context and information about the entry>

Relevant links:
* [PR]({{ feat.urls.pr }})
{% if feat.urls.related_doc is not none -%}
* [Related documentation]({{ feat.urls.related_doc }})
{% endif -%}
{% if feat.urls.related_issue is not none -%}
* [Related issue]({{ feat.urls.related_issue }})
{% endif %}

{% endif -%}
{% endfor %}

## Bug fixes
<!--
Add a bulleted list of bug fixes here, with links to the relevant PR/commit.
-->

{% for feat in changes -%}
{%- if feat.type == "bugfix" and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) -%}
* {{ feat.title }} ([PR]({{ feat.urls.pr }})).
{% endif -%}
{% endfor %}

## Breaking changes

<!--
Use this section to highlight any backwards-incompatible changes in this release.
Include links to the relevant PR or commit.
If there are no breaking changes, keep the section and write "No breaking changes".
-->

The following backwards-incompatible changes are included in this release.

{% for feat in changes -%}
{%- if feat.type == "breaking" and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) -%}
### {{ feat.title }}
{{ feat.description }}
<Add more context and information about the entry>

Relevant links:
* [PR]({{ feat.urls.pr }})
{% if feat.urls.related_doc is not none -%}
* [Related documentation]({{ feat.urls.related_doc }})
{% endif -%}
{% if feat.urls.related_issue is not none -%}
* [Related issue]({{ feat.urls.related_issue }})
{% endif -%}

{% endif -%}
{% endfor %}

## Deprecated

<!--
Use this section to highlight any deprecated features in this release.
Include links to the relevant PR or commit.
If there are no deprecated features, keep the section and write "No deprecated features".
-->

The following features have been deprecated.

{% for feat in changes -%}
{%- if feat.type == "deprecated" and (feat.visibility == "public" or (feat.visibility == "internal" and show_internal == true) ) -%}
### {{ feat.title }}
{{ feat.description }}
<Add more context and information about the entry>

Relevant links:
* [PR]({{ feat.urls.pr }})
{% if feat.urls.related_doc is not none -%}
* [Related documentation]({{ feat.urls.related_doc }})
{% endif -%}
{% if feat.urls.related_issue is not none -%}
* [Related issue]({{ feat.urls.related_issue }})
{% endif -%}

{% endif -%}
{% endfor %}

## Known issues
<!--
Add a bulleted list with links to unresolved issues – the most important/pressing ones,
the ones being worked on currently, or the ones with the most visibility/traffic.
You don’t need to add links to all the issues in the repository if there are
several – a list of 3-5 issues is sufficient. 
If there are no known issues, keep the section and write "No known issues".
-->

## Thanks to our contributors
<!--
List of contributors based on PRs/commits. Remove this section if there are no contributors in this release.
-->
{% set authors_in_list = [] -%}
{% for feat in changes -%}
{% set author_value = '['+feat.author+'](https://github.com/'+feat.author+')' -%}
{% if author_value not in authors_in_list -%}
{{ authors_in_list.append(author_value) or "" }}
{% endif -%}
{% endfor -%}

{{ authors_in_list|join(', ') }}